/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

input,
button{
    font-family: var(--body-font);
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}